.btn {
  font-family: Lato, sans-serif;
  display: block;
  border-bottom: none;
  margin: 1rem 0;
  text-align: center;
  /* width: fit-content; */
  min-width: 200px;
  padding: 12px 24px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: 0.35s ease-in;
  opacity: 0.85;
  font-size: var(--fs-100);
}
.btn:hover {
  opacity: 1;
}
.btn--primary,
.btn--primary:visited {
  background-color: var(--green);
  color: #fff;
}
.btn--primary:hover {
  color: #fff;
}
