.featured-plant {
  background-color: var(--purple);
}
.featured-bg {
  background-color: var(--green);
}
.featured-bg:hover {
  background-color: var(--dark-green);
}
.featured-plant__link {
  display: block;
  height: 100%;
  border-bottom: none;
  padding: 1rem;
  box-shadow: var(--box-shadow);
  transition: all ease 500ms;
}
.featured-plant__link.home:hover  {
  background-color: var(--dark-purple);
}
h2 span.featured-plant-title {
  border-bottom: 0;
}
.thumb {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.featured-plant__summary * {
  color: var(--white);
  text-align: center;
}

.fa-solid.fa-circle-arrow-right {
  display: block;
  color: var(--white);
  font-size: 2rem;
  text-align: center;
  margin: auto;

}
