.plant__taxonomies {
  width: 80%;
  max-width: 700px;
  margin: 1rem auto;
  padding: 30px 0;
  line-height: 2;
}

.plant__taxonomy-items {
  /* border-bottom: 3px solid #97acbf29; */
  /* border-top: 3px solid #97acbf29; */
  padding: 2rem 0;
}
.plant__taxonomies span.room-list {
  display: block;
  padding: 0 3px;
  font-family: Lato;
}

.plant__taxonomy-items p a {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid var(--green);
  padding: 2px;
}

.plant__taxonomy-items p a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleY(0);
  height: 40px;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.plant__taxonomy-items p a:hover {
  background-color: var(--green);
  color: var(--white);
}
.plant__taxonomy-items p a:hover::after {
  transform: scaleX(1);
  z-index: -1;
  transform-origin: bottom left;
}


/* single-plant__intro */

.single-plant__intro {
  display: flex;
  flex-direction: column;
}

.single-plant__intro--section {
  /* max-width: 500px; */
}

.single-plant__img-section {
  display: block;
  flex-basis: 30%;
  flex-grow: 1;
}
.single-plant__quick-care {
  flex-basis: 60%;
  flex-grow: 1;

}

.plant-title, .scientific-name {
  display: block;
  text-align: center;
  margin-left: 1rem;
}



.single-plant__list {
  padding: 0 12px;
  display: -webkit-flex;
  display: flex;
  list-style: none;
  flex-direction: column;

  -webkit-align-items: flex-start;
  align-items: flex-start;

  -webkit-justify-content: space-around;
  justify-content: space-around;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.single-plant__list.icons {
  flex-direction: row;
}

.single-plant__item {
  flex-basis: 50%;
  margin-bottom: 2rem;
}
.single-plant__icon {
  display: block;
  margin: 8px auto;
  height: 42px;
  object-fit: contain;
}
.single-plant__icon-title {
  font-size: var(--fs-200);
  /* margin: 1rem 0; */
  text-align: center;
  letter-spacing: 2px;
  display: block;
}

@media(min-width: 700px) {

  .plant__taxonomies {
    margin: 1rem auto;
  }

  .single-plant__list {
    flex-direction: row;
    /* max-width: 800px; */
  }
  .single-plant__item {
    margin-bottom: 2rem;
    flex-basis: 30%;
  }
}


@media (min-width: 1000px) {
  .single-plant__intro {
    max-width: 1300px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
  .single-plant__img {
    max-height: 500px;
    /* object-fit: contain; */
  }

  .single-plant__item {
    /* margin-bottom: 1rem; */
  }

  .single-plant__icon{
    margin-bottom: .75rem;
  }
}
@media (min-width: 2000px) {
  .single-plant__intro {
    max-width: 96em;
    margin: auto;
    padding: 20px;
    justify-content: space-between;
  }
}
